body {
    background: #000;
}

h1 {
    color: #fff;
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
    margin: auto;
    padding: 0%;
    display: block;
}

ul li {
    padding: 5px;
    background: #fff;
    margin: 10px;
    display: inline-block;
}